

#search{
    width: 100%;
    height: auto;
    text-align: center;
}

#filter-search{
    width: 45%;
    margin:3rem auto;
    display: block;
    padding: .6rem;
}

#gallery{
    width: 100%;
    height: auto;
    margin-bottom: 3rem;

    img{
        width: 32.5%;
        display: inline-block;
        margin-right: .5%;
        margin-bottom: 1%;
    }
}

